@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');
:root {
    --primary-400:#57a203;
    --primary-100:#F5FEE7;
    --neutral-0:#FFFFFF;
    --neutral-100:#f8f9fa;
    --neutral-300:#dee2e6;
    --neutral-600:#6c757d;
    --neutral-900:#212529;
}


*, *::before, *::after {
    box-sizing: border-box;
}

img {
    vertical-align: middle;
}

a {
    color: var(--primary-400);
    text-underline-offset: 4px;
    display:block;
}

body {
    font-family: "Noto Sans TC", sans-serif;
    font-style: 16px;
    line-height: 1.5;
    letter-spacing: 0.05em;
    color:var(--neutral-900)
}
 
/* 通用樣式 */
.container {
    width: 856px;
    margin: 0 auto;
}

.h1 {
    font-size: 40px;
    line-height: 1.2;
    font-weight: 700;
    font-style: bold;
}

.h3 {
    font-size: 28px;
    line-height: 1.2;
    font-weight: 400;

}

.h4 {
    font-size: 24px;
    line-height: 1.2;
    font-weight: 700;

}

.h5 {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;

}

.text-sm {
    font-size: 14px;
    font-weight: 400px;
}

.text-white {
    color:var(--neutral-0)
}

.text-neutral-600 {
    color:var(--neutral-600)
}

.text-primary-400 {
    color:var(--primary-400)
}

.bg-primary-100 {
    background-color:var(--primary-100);
}

.bg-neutral-100 {
    background:var(--neutral-100);
}

.p-32 {
    padding: 32px;
}

.py-8 {
    padding-top: 8px;
    padding-bottom: 8px;
}
.py-64 {
    padding-top: 64px;
    padding-bottom: 64px;
}

.pb-48 {
    padding-bottom: 48px;
}

.pe-8 {
    padding-right: 8px;
}

.mb-4{
    margin-bottom: 4px;
}

.mb-12 {
    margin-bottom: 12px;
}

.mb-16 {
    margin-bottom: 16px;
}

.mb-24 {
    margin-bottom: 24px;
}

.mb-48 {
    margin-bottom: 48px;
}

/* 頁面 */
.header {
    background-image: url(img/hero.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    padding:152px 0;
    text-align: center;
}

.quote {
    border-radius: 12px;
    text-align: center;
}

.intro img {
    margin-left: -110px;
    margin-right: -110px;
    width: 1076px;
}

.section-lined {
    border-bottom: 1px solid var(--neutral-300);
}

.description {
    border-left: 1px solid var(--neutral-900);
    padding-left: 8px;
}

.history-list {
    list-style-type: disc;
    padding-left: 24px;
}

.concept-item {
    padding-left: 12px;
    border-left: 3px solid var(--neutral-300)
}

.bi {
    padding-right: 18px;
    vertical-align:bottom;
}

.footer {
    text-align: center;
}
